<div class="principal">
    <div class="container mt-5">
        <h1 class="text-center">Perfil de Usuario</h1>
        <div class="mt-3">

            <div *ngIf="user" class="profile-details">
                <p class="list-group"><strong>ID:</strong> {{ user.id }}</p>
                <p class="list-group"><strong>Nickname:</strong> {{ user.nickname }}</p>
                <p class="list-group"><strong>Correo Electrónico:</strong> {{ user.mail }}</p>
            </div>
            <p *ngIf="!user" class="text-center">No se encontró información del usuario.</p>

        </div>
        <div class="mt-3">
            <p class="card-text">El token de acceso expirará el: {{ tokenExpiration }}</p>
            <p class="card-text">Actualizar esta página continuará utilizando el token en caché hasta que esté cerca de
                la expiración, momento en el cual se solicitará un nuevo token de acceso.</p>
        </div>
    </div>
</div>