#container{
    display: grid;
    grid-template-columns: minmax(0,30%) 1fr;
    grid-gap: 10px;
}

#sidebar{
    width:200px;
    padding-left: 10px;
    height: max-content;
    background-color: rgb(124, 72, 72);
}

#gameContainer{
    padding: 1px;
    border: solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
