<div class="principal center-container" id="container">
    <div id="sidebar">
        <h2>Lista de Jugadores:</h2>
        <ul class="list-group">
            <li *ngFor="let gamer of users" class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <p class="mb-0"> {{ gamer }}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div id="gameContainer"></div>
</div>
