<div class="principal center-container">
    <div class="container">
        <h1>{{user.nickname}} Rooms</h1>
        <div class="container">
            <form class="mb-3" (ngSubmit)="createRoom(server_name)" #form="ngForm">
                <label class="form-label display-6 text-center" for="server_name">Nombre del Servidor</label>
                <input class="form-control" type="text" id="server_name" name="server_name" [(ngModel)]="server_name"
                    required>
                <button class="btn btn-primary mt-3" type="submit">Crear Sala</button>
            </form>
        </div>
        <div class="container mt-5">
            <div class="proyect-grid">
                <a *ngFor="let room of roomsInfo; let i = index" class="col text-center file-{{i+1}} proyect-tile" [ngClass]="{'order-12': i === 1, 'order-1': i === 2}">
                    <!-- Contenido centrado verticalmente -->
                    <div class="content-wrapper">
                        <h2>{{ room.server_name }}</h2>
                        <p>{{ room.code }}</p>
                        <h2>File {{ i + 1 }}</h2>
                    </div>
                </a>
                <!-- La primera habitación permanecerá en su posición predeterminada -->
                <a *ngIf="roomsInfo.length < 1" class="col text-center file-1 proyect-tile">
                    <h2>File 1</h2>
                </a>
                <!-- La segunda habitación se mueve a la última posición (order-12) -->
                <a *ngIf="roomsInfo.length < 2" class="col text-center file-2 proyect-tile order-12">
                    <h2>File 2</h2>
                </a>
                <!-- La tercera habitación se mueve a la primera posición (order-1) -->
                <a *ngIf="roomsInfo.length < 3" class="col text-center file-3 proyect-tile order-1">
                    <h2>File 3</h2>
                </a>
            </div>
        </div>
        
        
        
          
    </div>
</div>

