<div class="principal center-container">
    <form>
        <div>
            <label for="exampleInputEmail1"> Nombre Sala</label>
            <input type="text"  [(ngModel)]="roomName" #roomNameInput name="roomName">
        </div>
        <div>
            <input class="form-check-input" type="radio" name="roomType" id="publicRadio" value="public"
                [(ngModel)]="roomType">
            <label for="publicRadio">Pública</label>
            <input class="form-check-input" type="radio" name="roomType" id="privateRadio" value="private"
                [(ngModel)]="roomType">
            <label for="privateRadio">Privada</label>
        </div>
        <div *ngIf="roomNameInput.value">
            <button class="btn btn-primary" (click)="createRoom()">Unirse</button>
        </div>
    </form>
</div>