@font-face {
    font-family: minecraft;
    src: url("../fonts/Minecraft.ttf");
}

body{
    size: 100%;
}

label{
    color: #ced4dd;
}


h1{
    color: #AD7757;
    font-family: minecraft;
}

li{
    color: white;
    background-color: #8B3C5E;
}

p{
    color: #FFFFFF;
}
.principal{
    font-family: minecraft;
    background-image: url('../wallpapers/fondo_principal.png');
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 100%; 
    height: 100%;
}
.center-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}


.div_boton {
    padding: 10px;
}

button {
    background-color: #3C5E8B; /* Color de fondo */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espacio interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin decoración de texto */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 20px; /* Tamaño de la fuente */
    cursor: pointer; /* Cursor tipo mano */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

button:hover {
    background-color: #7A4841; /* Color de fondo al pasar el ratón */
}