<div class="principal center-container">
  <div class="d-flex justify-content-center align-items-center flex-column">
    <div class="div_boton my-2">
      <a class="btn btn-primary" routerLink="/host">Iniciar como Anfitrión</a>
    </div>
    <div class="div_boton my-2">
      <a class="btn btn-primary" routerLink="/buscar-sala">Unirse a Sala</a>
    </div>
    <div class="div_boton my-2">
      <a class="btn btn-primary" routerLink="#">Ajustes</a>
    </div>
    <div class="div_boton my-2">
      <a class="btn btn-primary" routerLink="#">Salir</a>
    </div>
  </div>
</div>